@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');



/* --------- Header --------- */

header {
    margin: 0;
}

.logo {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffb4a2;
    text-decoration: none;
    width: 100%;
    float: left;
    letter-spacing: 3px;
    margin-top: 5px;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link { 
    color: #e5989b;
    font-weight: 500;
    font-size: 18px;
    padding-right: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffcdb2;
    font-weight: 600;
}

.navlink .highlight a {
    color: #ffb5a7;
    font-weight: 600;
}

.float-right {
    float: right;
}


/* --------- Hero Image --------- */

.hero-image {
    background: url("../images/hero-image.jpg") no-repeat;
    position: relative;
    background-size: cover;
    height: 90vh;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    display: block;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: 1;
    background-position: 30% 40%;
}

.hero-image-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* --------- Body --------- */

.about-us,
.why-join-us {
    padding: 20px 10px 40px 10px;
    font-family: "Exo", sans-serif;
    text-align: center;
}

.container-wrapper {
    background-color: #fadde1;
    padding: 30px 0 30px 0;
}



/* --------- Footer --------- */

footer {
    background-color: #b5838d;
    color: #fafafa;
    text-align: left;
    padding-left: 5px;
    margin: 30px 0 0 0;
    min-height: 120px;
    font-family: "Exo", sans-serif;
}

footer a {
    color: #fafafa;
}

#footer-details {
    padding: 20px;
}

.social-icons {
    padding-bottom: 15px;
}

.social-icons li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}

.social-icons li a i:hover {
    background: #6d6875;
}

.click-here a:hover {
    color: #6d6875;
}

footer h5 {
    font-weight: 700;
    margin-bottom: 15px;
}

/* --------- General --------- */

.uppercase {
    text-transform: uppercase;
}


/* -------------- Contact Info --------------- */

.contact-info-item {
    margin-bottom: 5px;
    display: block;
    clear: both;
    text-align: left;
}

.contact-info-item .key,
.contact-info-item .value {
    padding-right: 5px;
    display: inline-block;
}

.contact-info-item .key p,
.contact-info-item .value p {
    margin: 0;
}

.contact-info-item .key {
    width: 30%;
    margin-right: 5px;
    padding-top: 2px;
    vertical-align: top;
}

.contact-info-item .key p {
    font-weight: 500;
}

.contact-info-item .value {
    position: relative;
    width: 60%;
}

.contactus {
    text-align: left;
}

.contact-us {
    margin-bottom: 10px;
}


/* -------------- Table --------------- */

.thead {
    background-color: #fcd5ce;
}

.monday {
    background-color: #f8edeb;
}

.tuesday {
    background-color: #f9dcc4;
}

.wednesday {
    background-color: #f8edeb;
}

.thursday {
    background-color: #f9dcc4;
}

.friday {
    background-color: #f8edeb;
}

.saturday {
    background-color: #f9dcc4;
}

.sunday {
    background-color: #f8edeb;
}

.hero-image2 {
    background: url("../images/hero-image2.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.5);
    height: 90vh;
    width: 100%;
    display: block;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

/* -------------- Sign Up --------------- */

.heading {
    color: #e5989b;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-center {
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e5989b;
}

.form-control {
    border:1px solid #bcbbbe;
    border-radius: 2px;
}

.form-control:hover {
    border-color: #e5989b;
}